
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;   /*Gives scrolling effect to website*/
    font-family: 'Poppins', 'sans-serif';
}

html, body{
    height: 100%;
    width: 100%;
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 7.2rem;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

span{
    color: rgb(27, 79, 224);
}

nav a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 2rem;  
    transition: all 0.2s ease-in-out;
    position: relative;
    padding-bottom: 4px;
}

nav a:hover,
nav a.active{
    color: aquamarine;
}

/* Giving underline effect */
nav a::after{
    content: '';
    width: 0;
    height: 2px;
    bottom: 0;
    right: 50%;
    position: absolute;
    background-color: #FF4081;
    transition: all 0.2s ease-in-out, right 0.2s ease-in-out;
}

nav a:hover::after{
    width: 100%;
    right: 0;
}
/* Underline effect ended */

/* For not having underline effect on home */
nav a.active:hover::after{
    width: 0%;
    right: 0;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 78, 78,1);
    font-size: 5rem;
    color: #fff;
    font-weight: 600;
}

/* For changing background colors of odd section */
section:nth-child(odd){
    background-color: rgba(66, 78, 78,0.9);
}